<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关注</title>
    <style>
        body{text-align: center;}
        img{display:block;margin: 50px auto;}
    </style>
</head>
<body>
<img src="__ROOT__/index/imgs/guanzhu.png" width="300" alt="">
<p>扫一扫关注</p>
<a href="{:url('index/index/index')}">返回首页</a>
</body>
</html>