{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">商品新增</h3>
    </div>
    <div class="panel-body">
        <a href="{:url('index')}" class="btn btn-info">返回列表</a>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail1" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail1" required placeholder="名称"  name="gname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">分类</label>
                <div class="col-sm-10">
                    <select class="form-control" name="cid">
                        {volist name="$cateDate" id="vo"}
                        <option value="{$vo.cid}">{$vo.cname}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail1" class="col-sm-2 control-label">快递费</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail1" required placeholder="快递费"  name="ed">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">介绍phone</label>
                <div class="col-sm-10">
                    <textarea name="gcontent" id="editor" cols="90" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">介绍pc</label>
                <div class="col-sm-10">
                    <textarea name="gpccontent" id="editor1" cols="90" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">提交保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  var ue = UE.getEditor('editor',{
    initialFrameHeight:800,
    initialFrameWidth:800,
  });
  var ue1 = UE.getEditor('editor1',{
    initialFrameHeight:800,
    initialFrameWidth:800,
  });
</script>
{/block}